* {
    border: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
}

.d-none{
    display: none;
}

.d-block {
    display: block;
}

.container {
    margin: auto;
    padding: 0 30px;
    width: 100%;
}

.btn{
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 0.2em #e76d0080;
    color: #e76d00;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 15px;
    transition: all 0.5s;
}

.btn-send {
    background: #ffcc6b;
    color: #aa6324;
    height: 45px;
    transition: all 0.5s;
    width: 100px!important;
}

.btn:hover {
    background: #fa8210;
    color: #ffffff;
}

.aside {
    text-align: center;
}

.aside img-logo {
    height: 300px;
    width: 300px;
}

.aside .img-logo.name-logo {
    width: 45%;
}

.main {
    width: 100%;
}

.pages {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-login .form-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.aside .img-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 390px;
}

.page-login.pages {
    background: #fffdf4;
}

.page-login .form-login .form-input {
    border: none;
    box-shadow: 0 0 0.5em #e76d0080;
    border-radius: 50px;
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 8px 15px;
    width: 100%;
}

.page-login .btn-login-google {
    background: url('./assets/btn_google_signin_dark_normal_web.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    display: block;
    height: 46px;
    margin: auto;
    transition: all 0.3s;
    width: 191px;
}

.page-login .btn-login-google:hover {
    background-image: url('./assets/btn_google_signin_dark_pressed_web.png');
}

.page-login .register-info {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.page-login .register-info p {
    margin-top: 10px;
}

.page-login .register-info a {
    color: #e76d00;
    text-decoration: none;
}

.page-inscribe {
    align-items: center;
    background: #fffdf4;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.page-inscribe .form-inscribe {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-inscribe.form-inscribe input{
    display: block;
    margin-right: 0;
}

.page-inscribe .form-inscribe label {
    font-size: 20px; 
    margin: 10px 0;
    text-align: center;
    width: min-content;
}

.page-inscribe .form-inscribe .btn.btn-send:last-child{
    margin-top: 20px;
    padding: 5px 10px;
}

.page-feed.pages {
  background: linear-gradient(rgba(255, 232, 223, 0.514), rgba(255, 232, 223, 0.514)), url('./assets/butterfly-background.jpg') bottom fixed;
	background-attachment: fixed;
}

.page-feed li {
    color: white;
    font-variant: all-petite-caps;
    font-weight: 700;
    letter-spacing: 2px
}

.page-feed .header {
    background: rgb(242, 142, 26);
    display: flex;
    align-items: center;
    padding: 15px 10px;
    width: 100%;
}

.page-feed .header img {
    margin: 0 auto;
}

.page-feed .header .btn-icon {
  color: black;
}

.page-feed .header .menu {
    font-size: 30px;
}

.page-feed .btn-icon .menu {
    display: block;
}

.page-feed .nav-main {
    display: none;
}

.page-feed .user-profile {
    align-items: center;
    background: none;
    display: flex;
    font-size: 18px;
    height: 100px;
    justify-self: end;
    margin: 15px auto;
    max-width: 450px;
}

.page-feed .user-profile figure {
    background: #ff710066;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 30px
}

.page-feed span#userName {
    color: #976339;
    font-size: 20px;
}

.page-feed .feed-write-post {
    background: white;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    padding: 25px 20px 20px;
}

.page-feed .post-field {
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    font-size: 18px;
    height: 120px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.page-feed #form-privacy-options {
    color: #ee7f17;
}

.page-feed .post-field-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.page-feed .post-field-options .btn {
    font-size: 16px;
}

.page-feed .div-posts {
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1em #b8b8b8bd;
    margin: 25px 0px;
}

.page-feed .div-posts .posted-box-text {
  font-size: 18px;
}

.page-feed .div-posts .box {
    background: white;
    border-radius: 5px 5px 0 0;
    color: #976324;
    resize: none;
    width: 100%;
}

.page-feed .posted-box-by.box {
    background: rgb(255, 227, 155);
    padding: 15px;
    font-weight: 600;
}

.page-feed .div-posts .box:nth-child(2) {
    background: white;
    color: black;
    padding: 20px 15px;
}

.page-feed .posted-box-options.box {
    border-top: solid 1px #0000001f;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.page-feed .div-posts .box:last-child {
    border-radius: 0 0 5px 5px;
}

.page-feed .div-posts .div-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-feed .div-posts .div-edit .edit-icon {
    margin-left: 20px;
}

.page-feed .i-none {
    display: none;
}

.btn-icon {
    border: none;
    background: none;
    color: #d9761a;
    cursor: pointer;
    margin-left: 5px;
}

.icon {  
    font-size: 25px;
}

@media only screen and (min-width: 768px) {
    input.btn.btn-send {
        width: auto;
    }

    input:not([type="radio"]) {
        width: 490px;
    }

    .page-login {
        flex-direction: row;
    }

    .aside .img-logo {
        max-width: 500px;
    }

    .aside h1 {
        font-size: 55px;
    }

    .page-login .form-login .form-input {
        margin-bottom: 30px;
        max-width: 500px;
        padding: 10px 20px;
    }

    .page-login .register-info {
        font-size: 25px;
    }

    .container {
        max-width: 900px;
    }

    .page-feed .main-feed {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        padding: 20px;

        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }

    .page-feed .btn-icon .menu {
        display: none;
    }

    .page-feed .nav-main {
        display: block;
    }

    
    .page-feed .nav-main ul {
        display: flex;
        font-size: 20px;
        list-style: none;
    }

    .page-feed .nav-main ul li:nth-child(1) {
        margin-right: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        padding: 0;
    }

    .main {
        width: 50%;
    }

    .user-profile {
      min-width: 400px;
    }
}