* {
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
    letter-spacing: 0.5px;
}

body {
    margin: 0 auto;
    padding: 0;
}

p, h1, h2 {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
}

.btn{
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 50px;
    background: white;
    box-shadow: 0 0 0.5em #BFACAA;
    color: #a6341b;
    font-size: 20px;
}

.aside img{
    width: 300px;
    height: 300px;
}

.aside h1{
    font-size: 40px;
    text-align: center;
}

.main {
    width: 100%;
    margin: 0;
}

.page-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.page-login .form-login {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-login .form-login .form-input {
    border: 1px solid rgba(0, 0, 0, 0.253);
    box-shadow: 0 0 0.5em #BFACAA;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 8px 15px;
    color: black;
    font-size: 25px;
    width: 100%;
}

.page-login .register-info {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.page-login .register-info p {
    margin-top: 10px;
}

.page-login .register-info a {
    text-decoration: none;
    color: #a6341b;
}

.page-inscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.page-inscribe .form-inscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-inscribe .form-inscribe input{
    display: block;
    margin-right: 0;
}

.page-inscribe .form-inscribe label {
    margin: 10px 0;
    text-align: center;
    font-size: 20px; 
}

@media only screen and (min-width: 768px) {
    .page-login {
        flex-direction: row;
    }

    .aside img {
        width: 500px;
        height: 500px;
    }

    .aside h1 {
        font-size: 55px;
    }

    .page-login .form-login .form-input {
        margin-bottom: 30px;
        padding: 10px 20px;
        max-width: 500px;
    }

    .page-login .register-info {
        font-size: 25px;
    }

    .container {
        max-width: 900px;
    }
}